$blue: #055c9d;
$baby-blue: #68bbe3;
$blue-grotto: #0e86d4;
$navy-blue: #003060;
$gray: #404654;
$warning: #facd1c;

@use "bulma/sass" with (
  //Colors
  $grey-light: $navy-blue,
  $primary: $blue,
  $link: $baby-blue,
  $warning: $warning,
  //Font
  $family-primary: '"Moderustic", sans-serif', 
);

@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300,800&display=swap");

//Components
@import "./components/navbar.scss";
@import "./components/card.scss";
@import "./components/footer.scss";
@import "./components/modal.scss";

//Utils
@import "./utils/layout.scss";